<ion-header>
    <ion-navbar>
        <ion-title>
            Leader Board
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card>

        <!--  <ion-card-title>
            Overall Ranking
        </ion-card-title>-->
        <img src="assets/ranking.jpg" />
       
    </ion-card>

    <ion-card>

        <!-- <ion-card-title>
      Points Table
      </ion-card-title>-->
        <ion-card-content>
            <ion-row>
                <ion-col>
                    <strong>Rank</strong>
                </ion-col>
                <ion-col>
                    <strong>Name</strong>
                </ion-col>
                <ion-col>
                    <strong>Points</strong>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h2>1</h2>
                </ion-col>
                <ion-col>
                    <h2>Ram</h2>
                </ion-col>
                <ion-col>
                    <h2>90</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <strong>2</strong>
                </ion-col>
                <ion-col>
                    <strong>You</strong>
                </ion-col>
                <ion-col>
                    <strong>87</strong>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <h2>3</h2>
                </ion-col>
                <ion-col>
                    <h2>Priya</h2>
                </ion-col>
                <ion-col>
                    <h2>70</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h2>4</h2>
                </ion-col>
                <ion-col>
                    <h2>Ravi</h2>
                </ion-col>
                <ion-col>
                    <h2>65</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h2>5</h2>
                </ion-col>
                <ion-col>
                    <h2>Vidya</h2>
                </ion-col>
                <ion-col>
                    <h2>62</h2>
                </ion-col>
            </ion-row>
        </ion-card-content>

    </ion-card>

</ion-content>